body {
  padding: 0px;
  margin: 0px;
}
.navbar {
  width: 100%;
  background: lightblue;
}
.navbar {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.navbar li {
  padding: 10px;
  margin: 0px 5px 0px 0px;
}
.navbar li a {
  color: rgb(89, 89, 231);
  text-decoration: none;
  font-weight: 600;
}
